<section class="card">
  <div class="card-header">
    <h1 class="card-title"><%= message %></h1>
  </div>
  <div class="card-content">
    <p><a class="btn btn-outline" href="/">Zur Startseite</a></p>
  </div>
</section>
