<section class="card">
  <div class="card-header">
    <h1 class="card-title h5 mb-0"><%= message %></h1>
  </div>
  <div class="card-body">
    <a class="btn btn-light" href="/">Zur Startseite</a>
  </div>
</section>
